/* Angela Sposato 1934695, Jimmy Le 1936415*/
/*all images made by jimmy*/

/*Angela, Jimmy*/ 

/*overall formating for the quote*/
#word{
    display: flex;
    font-family: monospace;
    text-align: center;
    background-color: rgb(221, 255, 252);
    height: 100px;
    font-size: 40px;
    white-space: pre;
    background-image: url(../images/maintemp3.png);
}


/*styles for the focused character*/
#focused {
    color: rgb(171, 67, 212);
}

body {
    background-color: rgb(176, 211, 245);
    background-image: url(../images/bodytemp3.png);

    
}
/*styles for header*/
header{
    border-bottom: double;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    border-color: rgb(161, 225, 255);
}
header h1{
    border-style: double;
    padding: 20px;
    border-color: rgb(161, 225, 255);
    color: rgba(104, 104, 247);
}

/*styles for footer*/
footer{
    border-top: double;
    position: fixed;
    width: 100%;
    /*margin-right: 10px;*/
    left: 0px;
    bottom: 0px;
    text-align: center;
    border-color: rgb(161, 225, 255);

}
footer pre{
    border-style: double;
    padding: 10px;
    border-color: rgb(161, 225, 255);
    color: rgba(31, 27, 70, 0.459);
}

/*styles for both header and footer*/
footer, header{
    display: flex;
    justify-content: center;
    /*rgb(172, 158, 250)*/
    background-color: rgb(158, 164, 250);
    font-family: Helvetica;
    background-image: url(../images/headertemp3.png);

}
/*styles for the form*/
form{
    display: flex;
    justify-content: center;
    color: rgb(90, 29, 102);
    font-family: Helvetica;
    margin-top: -7%;
    

}
/*styles for the input box*/
#speed{
    color: rgb(149, 126, 190);
    background-color: rgb(217, 240, 255);
    margin-bottom: 5%;
    margin-left: 3%;
    width: 80px;
    
}
/*styles for the start/stop button*/
#start{
    color: rgb(68, 54, 71);
    background-color: rgb(200, 174, 247);
    margin-bottom: 5%;
    margin-left: 3%;
    width: 80px;
}
/*change button color when hovered*/
#start:hover{
    color: black;
    background: rgb(216, 169, 255);
}
/*styles for the main*/
main{
    background-color: rgb(190, 231, 250);
    margin: auto;
    margin-top: 20em;
    left: 0px;
    width: 380px;
    height: 150px;
    background-image: url(../images/maintemp3.png);

}
/*removing the line and color from links*/
a{
    text-decoration: none;
    color: rgba(31, 27, 70, 0.459);
}
/*styles for the currentspeed block*/
#currentspeed{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    width: 380px;
    background-color: rgb(169, 199, 255);
    color: rgba(104, 104, 247);
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(../images/maintemp.png);
    font-family: Helvetica;
    font-size: 12px;
}


